<div class="grid-wrapper additem-tbl" *ngIf="gridConfig">
    <table class="grid-default" summary="{{gridConfig.GridTitle}}">
        <thead>
            <tr>
                <th *ngFor="let column of gridConfig.Columns" class="{{column.Class}}">{{column.Title}}</th>
                <th *ngIf="gridConfig.IsActionsAllowed" class="actionCol">Edit</th>
                <th *ngIf="gridConfig.IsActionsAllowed" class="actionCol">Remove</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of gridConfig.Rows">
                <td *ngFor="let column of gridConfig.Columns" class="{{column.Class}}">{{row[column.PropertyName]}}</td>
                <td *ngIf="gridConfig.IsActionsAllowed" class="actionCol">
                    <a class="mdl2-edit" [ngClass]="{'disabled': !gridConfig.IsActionsEnabled}" aria-label="Edit"
                        (click)="onEdit(row[gridConfig.RowProperty])">
                        <i class='fa fa-edit'></i>
                    </a>
                </td>
                <td *ngIf="gridConfig.IsActionsAllowed" class="actionCol">
                    <a class="mdl2-delete" [ngClass]="{'disabled': !gridConfig.IsActionsEnabled}"
                        (click)="onDelete(row[gridConfig.RowProperty])" aria-label="Delete">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>