.mdl2-clear::before {
    content: '\e894';
}

.mdl2-clear-selection::before {
    content: '\e8e6';
}

.modal-default.remove-modal {
    padding-top: 0;
    border-color: black;
    border-style: solid;
}

.modal-default header {
    padding: 10px 5px 0px 0;
    margin-bottom: 15px;
    width: 100%;
    float: left;
}

.modal-default.remove-modal header {
    padding: 0 10px;
    margin-bottom: 5px;
}