<h2>{{gridConfig.GridTitle}}</h2>

<!-- Data Grid  -->
<app-grid [gridConfig]="gridConfig" (delete)="deleteById($event)" (edit)="editById($event)"></app-grid>

<!-- Edit Popup -->
<app-popup *ngIf="enableEditPopup" [title]="gridConfig.GridTitle" [type]="popupType.EDIT"
    (close)="cancelEditActivityType()">
    <form>
        <section>
            Display Edit Form
            <p> selectedItem : {{selectedItem | json}} </p>
        </section>
        <footer>
            <button type="button" (click)="cancelEditActivityType()">Close</button>
        </footer>
    </form>
</app-popup>

<!-- Remove Popup -->
<app-popup *ngIf="enableRemovePopup" [type]="popupType.DELETE"
    (close)="cancelRemoveActivityType()">
    <section>
        Display Remove Form
        <p> selectedItem : {{selectedItem | json}} </p>
    </section>
    <footer>
        <button type="button" (click)="cancelRemoveActivityType()">Close</button>
    </footer>
</app-popup>